VITE_BACKEND_URL = http://localhost:5550

REACT_APP_MORALIS_API_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6ImIyNTY3OGUyLTYxZDAtNGUxYi04MzU0LTBkNTc3ZTM2YWI5MCIsIm9yZ0lkIjoiNDE2MTA4IiwidXNlcklkIjoiNDI3Njc4IiwidHlwZUlkIjoiZGRmOWJjYWYtMjVlNS00ZmE1LTk2MDktOWYyOTcxMDkyZWRhIiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3MzE1ODk1NzQsImV4cCI6NDg4NzM0OTU3NH0.6mpW2ZO-TBTtzTmg8EUDGd7-ret_YwajeaKiFsqCak4